.chart {
  position: relative;
  /* margin: 80px; */
  width: 220px;
  height: 10px;
}

.count-up {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

span {
  color: #555;
  display: block;
  line-height: 330px;
  text-align: center;
  width: 330px;
  font-family: monospace;
  font-size: 70px;
  font-weight: bold;
}
