<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Small Fish</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/index.css') }}"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='css/subscriptionMessages.css') }}"
  />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/buttons.css') }}"
    />
  </head>
  
  <body>
    <div class="parent">
        <header class="headline">
          <div class="main-name">Small Fish</div>
        </header>
  
        <header>
          <div class="line">
            <img
              class="logo-img"
              src="{{ url_for('static',filename='images/tunna.png') }}"
            />
          </div>
        </header>

        <div class="cancell">
            Your cancellation is confirmed!
        </div>
  </body>
</html>
