<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- chart js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <!-- plugin datalabels for chart js library -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <!-- socketio library -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>

    <title>Sardinha Mecânica - Check Wallet</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/checkWallet.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/modal.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/countUp.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/buttons.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/searchBox.css') }}"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="dropdown">
        <!-- <label for="currency-names">Choose a currency:</label> -->
        <select class="currency" name="currency" id="currency">
          <option value="BRL">BRL</option>
          <option value="USD">USD</option>
        </select>
      </div>

      <div class="line">
        <a href="{{ url_for('index') }}"
          ><img
            class="logo-img"
            src="{{ url_for('static',filename='images/tunna.png') }}"
        /></a>
      </div>

      <div class="app-name">
        <h1>Check Wallet</h1>
      </div>

      <form id="form" class="form-container">
        <input id="address" class="address" type="text" name="address" />
        <input class="button-app" type="submit" value="Check" />
      </form>
      <form class="radio">
        <!-- radio crypto -->
        <input
          type="radio"
          class="query-type"
          name="query-type"
          value="crypto"
          checked="checked"
        />
        <label for="crypto">Crypto</label><br />
        <!-- radio game tokens -->
        <input
          type="radio"
          class="query-type need-game-token"
          name="query-type"
          value="token"
        />
        <label for="game-token need-game-token">Game Tokens</label><br />
        <!-- radio full report -->
        <input
          type="radio"
          class="query-type"
          name="query-type"
          value="full-report"
        />
        <label for="full-report">Full Report</label><br />
      </form>
    </div>
    <script
      type="module"
      src="{{ url_for('static', filename='js/checkWallet.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/countUp.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/makeChart.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/usefulFunctions.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/searchBox.js') }}"
    ></script>
  </body>
</html>
