<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sardinha Mecânica</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
  </head>
  <body>
        <div class="parent">
            <header class="headline">
                <h1> Sardinha Mecânica </h1>
                <h3> Even up the game!</h3>
            </header>
    
            <header>
                <div class="line"> 
                        <img class="logo-img" src="{{ url_for('static',filename='images/tunna.png') }}">
                </div>
            </header>
    
            <nav>
                <button class="show-modal">About</button>
                <button class="show-modal">Cadastro</button>
                <button class="show-modal">Apps</button>
                <button class="show-modal">FAQ</button>
            </nav>
        </div>

        <div class="modal child-one hidden">
            <button class="close xchild-one">&times;</button>

            <h1>O que é o Sardinha Mecânica?</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac pulvinar eros. Duis vel quam interdum, egestas tortor nec, tincidunt dui. Morbi condimentum blandit metus et semper. Quisque scelerisque eros ac velit fermentum sagittis. Pellentesque convallis faucibus diam, sit amet blandit nisl vehicula nec. Maecenas pharetra viverra tellus in sagittis. Phasellus pharetra ex dolor, eget sagittis diam cursus eu. Vivamus tristique eros sapien, vel finibus velit tempus a. Pellentesque nisl est, interdum vitae faucibus non, elementum sit amet metus. Vivamus vel scelerisque metus. Praesent ultrices metus at leo volutpat ultrices. Quisque et interdum neque. 
            </p>

            <p>
                Nunc laoreet condimentum nisi, ac venenatis tortor aliquam hendrerit. Curabitur eu lacus non ligula dapibus aliquet vel vitae ligula. Fusce mattis sit amet dolor nec feugiat. Fusce elementum tempor diam, ut eleifend velit maximus eu. Maecenas sodales magna nec aliquet elementum. Fusce nisl ante, commodo in magna ac, sollicitudin mollis risus. Integer tellus massa, mollis sed nulla non, blandit lobortis tellus. Maecenas egestas mi a condimentum bibendum. Duis nisl turpis, maximus vel auctor nec, semper eu diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer eu dictum diam. 
            </p>

            <p>
                In laoreet egestas neque, in semper est auctor id. Vestibulum et mattis quam. Phasellus vulputate massa sit amet mauris posuere, vitae congue augue condimentum. Mauris sit amet dui tellus. Morbi facilisis tristique elit eget sagittis. Praesent hendrerit malesuada ipsum et imperdiet. Nulla tincidunt turpis mi, sed ultrices neque consectetur ac. Vestibulum posuere diam risus, id mattis justo sodales ut. In consectetur elementum tellus. Ut eu erat eget dolor tempor semper. Nunc volutpat quam neque, eget bibendum nibh mattis vitae. Aenean sit amet sapien et turpis laoreet dignissim. Suspendisse eget pharetra ante. Vivamus neque ipsum, porta ut eros id, fermentum laoreet nibh. Sed porttitor tristique neque in commodo. 
            </p>

            <p>
                Maecenas nec nunc quis mauris finibus auctor. Maecenas rhoncus libero ac eros rutrum aliquet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed efficitur lobortis augue vitae lobortis. Ut consequat, lacus at rhoncus porta, mauris turpis tristique ligula, et sagittis erat augue vel justo. Proin et lectus eget dolor tincidunt malesuada. In tempus suscipit diam, vel dictum augue molestie ut. Integer nec eros nisl. Phasellus mollis est odio. Nunc ut ex viverra, tempor nulla eu, vestibulum massa. Pellentesque id luctus nisl, ut ullamcorper est. Proin dictum purus magna, et ultricies metus lacinia a. Nulla nec mi et neque facilisis pretium eu sed turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
            </p>

            <p>
                Nulla facilisi. Suspendisse tempor justo id ipsum cursus, sit amet pharetra diam pulvinar. Donec fringilla urna urna, vitae semper est tincidunt ac. Mauris vitae finibus purus. Quisque quis nulla lorem. Donec porttitor facilisis mi, eu elementum libero commodo et. Fusce quis massa tellus. Aliquam mollis nec nulla sit amet molestie. 
            </p>

        </div>

        <div class="modal child-two hidden">
            <button class="close xchild-two">&times;</button>

            <h1>Cadastro pelo google</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac pulvinar eros. Duis vel quam interdum, egestas tortor nec, tincidunt dui. Morbi condimentum blandit metus et semper. Quisque scelerisque eros ac velit fermentum sagittis. Pellentesque convallis faucibus diam, sit amet blandit nisl vehicula nec. Maecenas pharetra viverra tellus in sagittis. Phasellus pharetra ex dolor, eget sagittis diam cursus eu. Vivamus tristique eros sapien, vel finibus velit tempus a. Pellentesque nisl est, interdum vitae faucibus non, elementum sit amet metus. Vivamus vel scelerisque metus. Praesent ultrices metus at leo volutpat ultrices. Quisque et interdum neque. 
            </p>
        </div>

        <div class="modal child-three hidden">
            <button class="close xchild-three">&times;</button>

            <h1 class="app-name">Check Wallet</h1>

            <a class="app-option" href="{{ url_for('checkWallet') }}"">Open App</a>
                
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Elwv7Itr1qA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>


        <div class="modal child-four hidden">
            <button class="close xchild-four">&times;</button>

            <h1>What is Lorem Ipsum?</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac pulvinar eros. Duis vel quam interdum, egestas tortor nec, tincidunt dui. Morbi condimentum blandit metus et semper. Quisque scelerisque eros ac velit fermentum sagittis. Pellentesque convallis faucibus diam, sit amet blandit nisl vehicula nec. Maecenas pharetra viverra tellus in sagittis. Phasellus pharetra ex dolor, eget sagittis diam cursus eu. Vivamus tristique eros sapien, vel finibus velit tempus a. Pellentesque nisl est, interdum vitae faucibus non, elementum sit amet metus. Vivamus vel scelerisque metus. Praesent ultrices metus at leo volutpat ultrices. Quisque et interdum neque. 
            </p>

            <h1>Where does it come from?</h1>
            <p>
                Nunc laoreet condimentum nisi, ac venenatis tortor aliquam hendrerit. Curabitur eu lacus non ligula dapibus aliquet vel vitae ligula. Fusce mattis sit amet dolor nec feugiat. Fusce elementum tempor diam, ut eleifend velit maximus eu. Maecenas sodales magna nec aliquet elementum. Fusce nisl ante, commodo in magna ac, sollicitudin mollis risus. Integer tellus massa, mollis sed nulla non, blandit lobortis tellus. Maecenas egestas mi a condimentum bibendum. Duis nisl turpis, maximus vel auctor nec, semper eu diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer eu dictum diam. 
            </p>

            <h1>Why do we use it?</h1>

            <p>
                In laoreet egestas neque, in semper est auctor id. Vestibulum et mattis quam. Phasellus vulputate massa sit amet mauris posuere, vitae congue augue condimentum. Mauris sit amet dui tellus. Morbi facilisis tristique elit eget sagittis. Praesent hendrerit malesuada ipsum et imperdiet. Nulla tincidunt turpis mi, sed ultrices neque consectetur ac. Vestibulum posuere diam risus, id mattis justo sodales ut. In consectetur elementum tellus. Ut eu erat eget dolor tempor semper. Nunc volutpat quam neque, eget bibendum nibh mattis vitae. Aenean sit amet sapien et turpis laoreet dignissim. Suspendisse eget pharetra ante. Vivamus neque ipsum, porta ut eros id, fermentum laoreet nibh. Sed porttitor tristique neque in commodo. 
            </p>

                <h1>Where can I get some?</h1>
            <p>
                Maecenas nec nunc quis mauris finibus auctor. Maecenas rhoncus libero ac eros rutrum aliquet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed efficitur lobortis augue vitae lobortis. Ut consequat, lacus at rhoncus porta, mauris turpis tristique ligula, et sagittis erat augue vel justo. Proin et lectus eget dolor tincidunt malesuada. In tempus suscipit diam, vel dictum augue molestie ut. Integer nec eros nisl. Phasellus mollis est odio. Nunc ut ex viverra, tempor nulla eu, vestibulum massa. Pellentesque id luctus nisl, ut ullamcorper est. Proin dictum purus magna, et ultricies metus lacinia a. Nulla nec mi et neque facilisis pretium eu sed turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
            </p>
        </div>




        <div class="overlay hidden"></div>


        <script type="text/javascript"
        src="{{ url_for('static', filename='js/index.js') }}"></script>  
</body>
</html>
