<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Small Fish</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/buttons.css') }}"
    />
  </head>
  <body>
    <div class="parent">
      <header class="headline">
        <div class="main-name">Small Fish</div>
        <h3>Even up the game!</h3>
      </header>

      <header>
        <div class="line">
          <img
            class="logo-img"
            src="{{ url_for('static',filename='images/tunna.png') }}"
          />
        </div>
      </header>

      <nav>
        <button class="show-modal">About</button>
        <button class="show-modal">Apps</button>
        <button class="show-modal">Pricing</button>
        <button class="show-modal">Contact</button>
      </nav>
    </div>

    <!-- ABOUT -->
    <div class="modal child-one hidden">
      <button class="close xchild-one">&times;</button>

      <h1>What is Small Fish?</h1>
      <p>
        <strong>Small Fish</strong> is an initiative that seeks to professionalize the work environment of NFT game players, offering infrastructure for their activity. The fundamental idea of SF is to democratize playing conditions in the NFT gaming ecosystem. Large investors have access to sophisticated software, that automate the purchase and sale of coins and even the activities in the games. On the other hand, other players do all their operations without the aid of tools or using rudimentary ones, such as manually filled spreadsheets. Our proposal is to offer software infrastructure that allows every player to focus on his activity, while having control over his investments.
      </p>

      <p>
        SF's business model is based on a subscription service that gives access to a set of web apps. To see available apps, click on the <i>Apps</i> link on the home page. If any app interests you, click on <i>Subscribe</i> and subscribe to our service. The subscription gives you access to all SF apps, including those yet to be released. A list of Apps in development can be found in the <i>Roadmap</i> section.
      </p>

      <p>
        Our philosophy is based on customer focus and, for this reason, we maintain permanent communication and support channels. Click on the <i>Contact</i> link to access our social networks. There you can send suggestions, report problems or difficulties in using the apps and praise them.
      </p>
    </div>

    <!-- Apps -->
    <div class="modal child-two hidden">
      <button class="close xchild-two">&times;</button>

      <h1 class="app-name">Check Wallet</h1>

      <p>
        <strong>Check Wallet</strong> is a tool that allows the user to check the Metamask balance in any chosen feat currency. Balance checking is available in three modes: <i>crypto</i>, <i>game tokens</i> and <i>full report</i>. The <i>crypto</i> mode allows accessing the balance of the Metamask in the main cryptocurrencies, BNB, Bitcoin and Ethereum. To access the results, the user only needs to provide the public address of Metamask.
      </p>

      <p>
        In the <i>game tokens</i> mode, in addition to the public address of the Metamask, it is necessary to inform which games the user would like to check the balance of tokens. It is important to note that the CW return in this case refers to the balance of tokens on Metamask and thus excludes the balance of tokens invested in the game. Soon, it will be possible to estimate the total investment of the user in the games with the <strong>Track Wallet</strong>, a tool to be launched by SF, according to <i>Roadmap</i>.
      </p>

      <p>
        Finally, by selecting the <i>full report</i> option, the user will have access to the balance of crypto and game tokens on the selected Metamask. 
        
        <!-- Still not sure how <strong>Check Wallet</strong> works? Watch the video below, where we show in practice how the tool works. -->
      </p>

      <a class="button-app" id="open-cw" href="{{ url_for('checkWallet') }}"
        >Go to App</a
      >
    </div>

    <div class="modal child-three hidden">
      <button class="close xchild-three">&times;</button>

      <h1>Pricing</h1>

      <p>
          SF's business model is based on a subscription service that gives access to a set of web apps. To see available apps, click on the <i>Apps</i> link on the home page. If any app interests you, click below on the <i>Subscribe</i> button and subscribe to our service. The subscription gives you access to all SF apps, including those yet to be released. A list of Apps in development can be found in the <i>Roadmap</i> section.

<div class="subscription-plan">
  <div class="price">
    {{ "$%.f"|format(products['small_fish_apps'].price / 100) }} USD
  </div>
  <form class="order-form" method="POST" action="/order/{{ product_id }}">
    <input class="button-app" type="submit" value="Subscribe">
  </form>
</div>
      </p>
    </div>

    <div class="modal child-four hidden">
      <button class="close xchild-four">&times;</button>

      <div class="social">
        <a href="https://discord.gg/tDkN7HFyRf" target="blank">
          <img
            src="{{ url_for('static',filename='images/discord_logo_wordmark_black.svg') }}"
            alt="discord image"
            title="go to server"
          />
        </a>
        <img
          class="clone-icon discord-clone"
          src="{{ url_for('static',filename='images/clone_regular.svg') }}"
          alt="clone image"
          title="click to copy"
        />
      </div>
    </div>

    <div class="overlay hidden"></div>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>
  </body>
</html>
